@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<LeHungCuong_2122110266.Context.Category>

<h2>Quản lý danh mục</h2>
<p>
    @Html.ActionLink("Thêm danh mục", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Category", FormMethod.Get, new { id = "searchForm" }))
{
    <p>
        Tìm tên danh mục: @Html.TextBox("Search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>
}

<div id="categoryList">
    @Html.Partial("_CategoryList", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Xử lý tìm kiếm bằng AJAX
    $("#searchForm").on("submit", function (e) {
        e.preventDefault();
        var url = $(this).attr("action");
        var query = $("#Search").val();

        $.get(url, { Search: query }, function (data) {
            $("#categoryList").html(data);
        });
    });

    // Xử lý phân trang bằng AJAX
    $(document).on("click", ".pagination a", function (e) {
        e.preventDefault();
        var url = $(this).attr("href");

        $.get(url, function (data) {
            $("#categoryList").html(data);
        });
    });
</script>
